---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ db.name  }}</title>
  </head>
  <body>

Hi {{ templateA  }} 
{% title 'title'  %}
  Matthew
{% endtitle %}
{{ content | safe }}
<a href="{{ db.name | slugify }}">{{ db.name}}</a>
  </body>
</html>
